@model = AuthorizeViewModel

<html>
<head>
    <title></title>
</head>
<body>
    <form>
        <key/>
        <password/>
        <state/>
        <response_type/>
        <redirect_uri/>
    </form>
</body>
</html>